server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://root:YAhjwNdiGWmAPeIGDamVXGkLRBbsdPaA@switchback.proxy.rlwy.net:21315/railway
    username: root
    password: YAhjwNdiGWmAPeIGDamVXGkLRBbsdPaA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    enabled=false: